body {
background-image: linear-gradient(to right,  rgba(150, 255, 245, 0.9), rgba(130, 210, 210, 0.9));
    min-height: 100vh;
    margin: 0;
}

#Site{
        background-image: 
            linear-gradient(rgba(255, 255, 255, 0.4) 2px, transparent 1px),
            linear-gradient(90deg, rgba(255, 255, 255, 0.4) 2px, transparent 1px);
        background-size: 50px 50px, 50px 50px, auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITULOS */

.tituloH1{
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 4px solid rgb(61, 61, 61);
}

.TituloCifras{
    background-color: rgb(0, 255, 0);
    background-image: 
    linear-gradient(rgba(0, 185, 0, 0.4) 2px, transparent 1px),
    linear-gradient(90deg, rgba(0, 185, 0, 0.4) 2px, transparent 1px);
    background-size: 10px 10px;
    font-size: 25px;
    border: 3px solid darkgreen;
    margin-top: 45px;
}

.TituloAlfabetos{
    background-color: rgb(200, 255, 255);
    background-image: 
    linear-gradient(rgba(20, 190, 225, 0.8) 2px, transparent 1px),
    linear-gradient(90deg, rgba(20, 190, 225, 0.8) 2px, transparent 1px);
    background-size: 20px 20px;

    font-size: 30px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-top: 45px;
}

.TituloMCifras{
    background-color: rgb(150, 220, 215, 1);
    background-image: 
    linear-gradient(rgb(115, 170, 122) 2px, transparent 1px),
    linear-gradient(90deg, rgb(115, 170, 122) 2px, transparent 1px);
    background-size: 18px 18px;

    font-size: 30px;
    border-radius: 15px;
    border: 2px solid rgb(0, 131, 11);
    color: rgb(0, 0, 0);
    margin-top: 45px;
}

/* Textos/Paragrafos e coisas adicionais */

#p1{
    text-align: center;
    font-size: 15px;
    color: rgb(0, 135, 50);
}

#aH2{
    margin-top: 6px;
    margin-bottom: 6px;

}

.pH2{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.pH2size25{
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.pH2comentario{
    color: rgb(61, 61, 61);
    font-size: 16px;
}

.pH2copyright{
    color: rgb(68, 68, 68);
    font-size: 16px;
    margin-top: 15px;
}

/* Cifras */
.vigenereTitulo{
    background-color: yellow;
}

.cesarTitulo{
    background-color: rgb(175, 20, 60);
}

.atbashTitulo{
    background-color: rgb(0, 200, 200);
}

/* Alfabetos */
.morseTitulo{
    background-color: rgb(255, 255, 255);
    background-image: 
    linear-gradient(rgba(73, 73, 73, 0.8) 1px, transparent 1px),
    linear-gradient(90deg, rgba(73, 73, 73, 0.8) 1px, transparent 1px);
    background-size: 16px 16px;
}

.ImgMorse{
    width: 250px;
    height: 220px;
    margin: 16px;
}

.pigpenTitulo{
    background-color: pink;
}

.ImgPigpen{
    width: 260px;
    height: 240px;
    margin: 16px;
}

.AscIITitulo{
    background-color: rgb(100, 185, 235);
}

.ImgAscII{
    width: 390px;
    height: 370px;
    margin: 16px;
}

/* Minhas cifras */

.rutshTitulo{
    background-color: red;
}

.voutvishTitulo{
    background-color: rgb(50, 255, 235);
}

.voutvishImg{
    width: 290px;
    height: 290px;
    margin: 16px;
}

.seltaebTitulo{
    background-color: rgb(140, 110, 195);
}

.seltaebImg{
    width: 280px;
    height: 280px;
    margin: 16px;
}

.neeuqTitulo{
    background-color: rgb(55, 185, 99);
}

.neeuqImg{
    width: 280px;
    height: 280px;
    margin: 16px;
}

.MELTitulo{
    background-color: rgb(250, 205, 175);
}

.MELimg{
    width: 280px;
    height: 280px;
    margin: 16px;
}

/* Curiosidades */
.curiosidadesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curiosidadesTitulo{
    background-color: rgb(255, 255, 255);
}

/* Sempre manter o "h3" e "div" como ultimos na parte de cifras */
h3{
    color: rgb(24, 0, 68);
    font-size: 21px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    width: fit-content;
    margin: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* LINKS */
.linkJason{
    color: rgba(55, 120, 125, 0.8);
    transition: 0.1s;
}

.linkJason:hover{
    color: rgba(138, 185, 240, 0.8);
    transition: 0.15s;
}

.PigpenLink{
    color: rgb(255, 128, 149);
    font-size: 18px;
    transition: 0.1s;
}

.PigpenLink:hover{
    color: rgb(255, 50, 50);
    transition: 0.15s;
}

/* BLOCOS */

.vigenereTitulo,
.cesarTitulo,
.atbashTitulo,
.morseTitulo,
.pigpenTitulo,
.AscIITitulo,
.rutshTitulo,
.voutvishTitulo,
.seltaebTitulo,
.neeuqTitulo,
.MELTitulo,
.curiosidadesTitulo,
.UpdatesT{
    border-radius: 7px;
    border: 2px solid black;
    width: fit-content;
    margin: 5px;
}

.vigenereDiv,
.cesarDiv,
.atbashDiv,
.morseDiv,
.pigpenDiv,
.AscIIDiv,
.rutshDiv,
.voutvishDiv,
.seltaebDiv,
.neeuqDiv,
.MELDiv,
.curiosidadesDiv,
.CopyrightEUpdates{
    margin-top: 35px;
    margin-bottom: 70px;
    width: 80%;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.Avigenere,
.Acesar,
.Aatbash,
.Amorse,
.Apigpen,
.AascII,
.Arutsh,
.Avoutvish,
.Aseltaeb,
.Aneeuq,
.Amel,
.Acuriosidades,
.ACpeUpd{
    border: 1px solid black;
    margin-top: 4px;
    font-size: 16px;
    transition: 0.1s;
    grid-area: 1 / 1;
}

.Avigenere:hover,
.Acesar:hover,
.Aatbash:hover,
.Amorse:hover,
.Apigpen:hover,
.AascII:hover,
.Arutsh:hover,
.Avoutvish:hover,
.Aseltaeb:hover,
.Aneeuq:hover,
.Amel:hover,
.Acuriosidades:hover,
.ACpeUpd:hover{
    font-size: 19px;
    transition: 0.1s;
}

/* Menu */
#Menu{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 750px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    transition: 0.1s;
    display: grid;
    place-items: center;
}

.Avigenere{
    background-color:  yellow;
}

.Acesar{
    background-color:  rgb(175, 20, 60);
}

.Aatbash{
    background-color: rgb(0, 200, 200);
}

.Amorse{
    background-image: 
    linear-gradient(rgba(107, 107, 107) 2px, transparent 1px),
    linear-gradient(90deg, rgb(107, 107, 107) 2px, transparent 1px);
    background-size: 13px 13px;
}

.Apigpen{
    background-color: pink;
}

.AascII{
    background-color: rgb(100, 185, 235);
}

.Arutsh{
    background-color: red;
}

.Avoutvish{
    background-color: rgb(50, 255, 235);
}

.Aseltaeb{
    background-color: rgb(140, 110, 195);
}

.Aneeuq{
    background-color: rgb(55, 185, 99);
}

.Amel{
    background-color: rgb(250, 205, 175);
}

.Acuriosidades{
    background-color: rgb(255, 255, 255);
}

.ACpeUpd{
    background-image: linear-gradient(to right,  rgba(230, 230, 230, 0.45), rgba(200, 200, 200, 0.3));
    background-color: rgba(230, 230, 230, 0.5);
}

.AtCifra{
    background-color: rgb(0, 255, 0);
    background-image: 
    linear-gradient(rgba(0, 185, 0, 0.4) 2px, transparent 1px),
    linear-gradient(90deg, rgba(0, 185, 0, 0.4) 2px, transparent 1px);
    background-size: 8px 8px;

    font-size: 20px;
    border: 3px solid darkgreen;
    width: fit-content;
}

.AtAlfab{
    background-color: rgb(200, 255, 255);
    background-image: 
    linear-gradient(rgba(20, 190, 225, 0.8) 2px, transparent 1px),
    linear-gradient(90deg, rgba(20, 190, 225, 0.8) 2px, transparent 1px);
    background-size: 20px 20px;

    font-size: 20px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: fit-content;
}

.AtMCifra{
    background-color: rgb(150, 220, 215, 1);
    background-image: 
    linear-gradient(rgb(115, 170, 122) 2px, transparent 1px),
    linear-gradient(90deg, rgb(115, 170, 122) 2px, transparent 1px);
    background-size: 18px 18px;

    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 131, 11);
    color: rgb(0, 0, 0);
    width: fit-content;
}

.AtMais{
    background-color: rgb(200, 255, 255);
    background-image: linear-gradient(to right, rgba(230, 230, 230, 0.45), rgba(204, 204, 204, 0.35));
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: fit-content;
}
/* Musica */
#Musica{
    margin-top: 5px;
    width: 130px;
    height: 50px;
    border: 2px solid black;
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
    font-size: 20px;
    transition: 0.1s;
}

#Musica:hover{
    transition: 0.2s;
    inline-size: 135px;
    block-size: 55px;
}

/* deixar copyrightEUpdates sempre como ultimo */
.CopyrightEUpdates{
    background-image: linear-gradient(to right,  rgba(230, 230, 230, 0.45), rgba(204, 204, 204, 0.35));
    background-color: rgba(230, 230, 230, 0.5);
}
